@font-face {
	font-family: "Montserrat-Medium";
	src: local("Montserrat-Medium"),
	src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),
		url("/fonts/Montserrat-Medium.woff") format("woff");

	font-family: "Montserrat-Bold";
	src: local("Montserrat-Bold"),
	src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
		url("/fonts/Montserrat-Bold.woff") format("woff");

	font-family: "OldStandardTT-Regular";
	src: url("/fonts/OldStandardTT-Regular.woff2") format("woff2"),
	    url("/fonts/OldStandardTT-Regular.woff") format("woff");

	font-weight: normal;
	font-style: normal;
   }

body,
main {
	width: 100%;
	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: #695A59;
}

.header {
	width: 100%;
	background-color: #F8F6F5;
}

.header__wrapper {
	height: 96px;
	display: grid;
	grid-template-columns: 369px auto 180px 280px 130px;
	column-gap: 20px;
	align-items: center;
}

.header__logo-text,
.best__products-small-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #695A59;
}

.header__contacts {
	display: block;
	line-height: 24px;
}

.header__contacts-phone,
.header__contacts-link,
.header__contacts-address,
.about__aside-text,
.about__aside-link,
.about__collection-aside,
.about__collection-link {
	font-size: 14px;
	line-height: 24px;
}

.header__contacts-phone,
.header__contacts-link,
.header__contacts-address,
.header__menu-link,
.header__menu-item {
	color: #695A59;
}

.header__contacts-link:hover {
	text-decoration: none;
	color: #9A8584;
}

.about__aside-link:focus,
.about__aside-link:active,
.about__collection-link:focus,
.about__collection-link:active,
.header__contacts-link:focus,
.header__contacts-link:active,
.header__contacts-phone:focus,
.header__contacts-phone:active,
.header__menu:focus,
.header__menu:active,
.consult__link:focus,
.consult__link:active,
.best__products-link:focus,
.best__products-link:active,
.slider__link:focus,
.slider__link:active,
.modal__btn:focus,
.modal__btn:active,
.request__submit-btn:focus {
	opacity: 0.7;
}

.header__logo {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 141px 216px;
	column-gap: 15px;
	padding-left: 20px;
}

.header__logo-img {
	width: 141px;
	height: 52px;
	align-self: center;
}

.header__logo-text {
	padding-top: 6px;
}

.header__contacts:nth-child(1),
.header__contacts:nth-child(2) {
	grid-column: 3 / 4;
}

.header__contacts:nth-child(3),
.header__contacts:nth-child(4) {
	grid-column: 4 / 5;
}

.header__menu {
	grid-column: 5 / 6;
	align-self: center;
}

.header__contacts-phone {
	text-decoration: none;
	position: relative;
}

.header__contacts-phone::before {
	content: "";
	background: url(../img/tel.svg) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -25px;
	top: -3px;
}

.header__contacts-address {
	position: relative;
 }

.header__contacts-address::before {
	content: "";
	background: url(../img/map.svg) no-repeat;
	width: 18px;
	height: 22px;
	position: absolute;
	left: -25px;
	top: 2px;
}

.header__menu {
	background: url(../img/menu.svg);
	width: 36px;
	height: 32px;
	border: none;
	background-color: inherit;
	position: relative;
}

.header__menu:hover {
	transform: scale(1.1);
}

.header__menu-nav {
	display: none;
}

.header__menu-nav--open {
	display: inline-block;
	position: absolute;
	right: 120px;
	top: 100px;
	width: 180px;
	height: auto;
	background-color: white;
	border: 1px solid #695A59;
	border-radius: 10px;
	z-index: 10;
}

.header__menu-list,
.collections__list {
	list-style: none;
}

.header__menu-list {
	display: inline-block;
}

.header__menu-item:active {
	background-color: #9A8584;
}

.header__menu-link {
	text-decoration: none;
}

.header__menu-link:hover {
	color: white;
	background-color: #9A8584;
}

.about,
.best,
.projects,
.collections {
	background-color: #EEE9E6;
}

.consult,
.mission,
.team,
.footer {
	background-color: #343235;
	color: #EEE9E6;
}

.heading {
	font-family: "Old Standard TT", sans-serif;
	font-weight: 500;
	font-size: 46px;
	line-height: 64px;
	text-transform: uppercase;
}


.consult__wrapper {
	background: url(../img/emotion-bg.png) no-repeat;
	width: 1366px;
	height: 520px;
	display: grid;
	grid-template-columns: 480px 1fr;
	padding-left: 150px;
	box-sizing: border-box;
	position: relative;
}

.consult__headline {
	grid-column: 1 / 2;
}

.consult__text {
	grid-column: 1 / 2;
}

.consult__img {
	width: 573px;
	height: 520px;
	grid-column: 2 / 3;
	position: absolute;
	left: 60px;
	top: 60px;
}

.consult__link,
.best__products-link,
.slider__link {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.consult__link {
	color: #A78587;
	display: inline-block;
	border-top: 2px solid #A78587;
	border-bottom: 2px solid #A78587;
	padding: 15px 20px;
}

.consult__link:hover {
	color: #e5e5e5;
}

.about__headline,
.best__headline,
.projects__headline,
.mission__headline,
.team__headline,
.collections__headline,
.footer__headline {
	position: relative;
	z-index: 1;
}

.about__headline::before,
.best__headline::before,
.projects__headline::before,
.mission__headline::before,
.team__headline::before,
.collections__headline::before,
.footer__headline::before {
    content: "";
	position: absolute;
    z-index: -1;
}

.about__wrapper {
	display: grid;
	grid-template-columns: 100px 600px 300px;
	column-gap: 100px;
}

.about__headline {
	grid-column: 2 / 3;
	padding-top: 150px;
}

.about__headline::before {
	background: url(../img/about-us.svg) no-repeat;
	width: 743px;
	height: 110px;
	top: 120px;
	left: -90px;
}

.about__text {
	grid-column: 2 / 3;
}

.about__priority {
	grid-column: 1 / 5;
	color: white;
	font-size: 26px;
	line-height: 48px;
	background: url(../img/about-us-bg.png) no-repeat;
	width: 1166px;
	height: 304px;
	margin-left: 100px;
	padding: 80px 100px;
	box-sizing: border-box;
}

.about__collection-link,
.about__aside-link,
.best__products-link {
	font-weight: bold;
	color: #9A8584;
}

.about__collection-link:hover,
.about__aside-link:hover,
.best__products-link:hover {
	color: #e5e5e5;
	background-color: #343235;
	transition: color 1.5s ease-out,
	background-color 1s ease-out;
}

.about__collection {
	grid-column: 2 / 3;
}

.about__aside {
	grid-column: 3 / 4;
	grid-row: 2 / 5;
	margin-top: 20px;
}

.about__collection-img {
	grid-column: 2 / 3;
}

.about__collection-aside {
	grid-column: 3 / 4;
	align-self: end;
	border-left: 1px solid #A78587;
	padding-left: 15px;
}

.best__wrapper {}

.best__products {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 10px;
}

.best__headline {
	padding-left: 150px;
}

.best__headline::before {
	background: url(../img/the-best.svg) no-repeat;
	width: 727px;
	height: 110px;
	left: 60px;
	top: 10px;
}

.best__products-title {
	font-family: "Old Standard TT", sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 36px;
	text-transform: capitalize;
}

.best__products-item:nth-child(1),
.best__products-item:nth-child(2),
.best__products-item:nth-child(3) {
	grid-column: span 4;
}

.best__products-item:nth-child(4),
.best__products-item:nth-child(5) {
	grid-column: span 6;
}

.best__products-item:nth-child(1) .best__products-img,
.best__products-item:nth-child(2) .best__products-img,
.best__products-item:nth-child(3) .best__products-img {
	width: 375px;
	height: 240px;
}

.best__products-item:nth-child(4) .best__products-img,
.best__products-item:nth-child(5) .best__products-img {
	width: 178px;
	height: 264px;
}

.best__products-item {
	background-color: white;
	height: 264px;
	position: relative;
}

.best__products-item:nth-child(1),
.best__products-item:nth-child(2),
.best__products-item:nth-child(3) {
	width: 376px;
	height: 528px;
}

.best__products-item:nth-child(4),
.best__products-item:nth-child(5) {
	width: 573px;
	height: 264px;
}

.best__products-link::after {
	content: "";
	background: url(../img/line-order.svg) no-repeat;
	width: 80px;
	height: 10px;
	position: absolute;
	left: 80px;
	bottom: 55px;
}

.best__products-min-price {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #343235;
}

.projects__wrapper {
	display: grid;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: 110px auto;
	row-gap: 50px;
	padding: 100px 0;
}

.projects__headline {
	grid-column: 2 / 4;
}

.projects__headline::before {
	background: url(../img/projects.svg) no-repeat;
	width: 747px;
	height: 110px;
}

.slider-wrapper {
	grid-column: 1 / 4;
	justify-self: center;
}

.slider {
	height: 660px;
	display: grid;
	grid-template-columns: 90px auto 90px;
	grid-template-rows: 2fr 1fr 2fr;
	justify-items: center;
}

.slider__direction:first-of-type {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.slider__img {
	grid-column: 2 / 3 ;
	grid-row: 1 / 3;
	width: 968px;
	height: 600px;
}

.slider__bottom {
	grid-column: 2 / 3 ;
	grid-row: 3 / 4;
	background-color: #343235;
	width: 968px;
	height: 100px;
	align-self: end;
	display: flex;
	align-items: center;
}

.slider__direction:last-of-type {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.slider__btn-prev,
.slider__btn-next {
	width: 72px;
	height: 72px;
	border: none;
	background-color: inherit;
 }

.slider__btn-prev:hover,
.slider__btn-next:hover {
	transition: transform 0.1s linear;
	transform: scale(0.9);
}

.slider__btn-prev:focus,
.slider__btn-next:focus {}

.slider__btn-prev:active,
.slider__btn-next:active {
	opacity: 0.8;
}

.slider__text {
	font-family: "Old Standard TT", sans-serif;
	font-weight: 500;
	font-size: 32px;
}

.slider__text,
.slider__link {
	color: #F5F2ED;
}

.slider__link {
	margin-left: auto;
}

.slider__link:hover {
	color: #9A8584;
}


.mission {
}

.mission__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	padding-top: 60px;
	padding-left: 100px;
	position: relative;
}

.mission__headline {
	grid-column: 2 / 3;
	padding-left: 30px;
}

.mission__headline::before {
	background: url(../img/mission.svg) no-repeat;
	width: 607px;
	height: 110px;
	left: -60px;
}

.mission__video {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
	z-index: 3;
}

.mission__text {
	width: 474px;
	grid-column: 2 / 3;
	position: relative;
	z-index: 2;
	padding-left: 40px;
}

.mission__wrapper::after {
	content: "";
	background: url(../img/mission-bg.png) no-repeat;
	width: 1366px;
	height: 320px;
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 1;
}

.mission__img1 {
	width: 276px;
	height: 200px;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	z-index: 3;
	align-self: end;
	justify-self: end;
}

.mission__img2 {
	width: 573px;
	height: 360px;
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	z-index: 3;
}

.team__wrapper {
	display: grid;
	grid-template-columns: 573px 1fr;
	column-gap: 110px;
	padding: 100px;
}

.team__headline {
	grid-column: 1 / 3;
	padding-bottom: 20px;
}

.team__headline::before {
	background: url(../img/team.svg) no-repeat;
	width: 764px;
	height: 110px;
	left: -90px;
	top: -20px;
}

.team__text {
	grid-column: 1 / 2;
}

.team__feature {
	color: #FBF3F0;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
 }

.team__img {
	width: 1165px;
	height: 420px;
	grid-column: 1 / 3;
	margin-top: 50px;
}

.collections__wrapper {
}

.collections__headline {
}

.collections__headline::before {
	background: url(../img/collections.svg) no-repeat;
	width: 1018px;
	height: 110px;
}

.collections__text {
	width: 573px;
}

.collections__list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.collections__list-item-big {
}
.collections__list-item-small {
}

.collections__img-big {
	width: 573px;
	height: 500px;
}

.collections__img-small {
	width: 573px;
	height: 240px;
}

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.178);
}

.modal__window {
	width: 500px;
	margin: auto auto;
}

.modal__header {
	background-color: #A78587;
}

.modal__title {
	font-family: "Old Standard TT", sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: normal;
	color: white;
	text-align: center;
	padding-top: 30px;
}

.close {
	width: 30px;
	height: 30px;
	background-color: white;
	color: #A78587;
	border: #343235;
}

.close:hover {
	color: #343235;
}

.close:focus,
.close:active {
	opacity: 0.7;
}

.modal__form {
	background-color: white;
	border: 1px solid #A78587;
	border-radius: 5px;
}

.modal__form-field {
	display: block;
	text-align: center;
	padding-top: 10px;
}

.modal__username { }

.input {
	padding: 5px;
	margin: 5px;
	border: 1px solid #A78587;
	border-radius: 5px;
}

.input:active,
.input:focus {
	border: 1px solid lightgreen;
}

.modal__tel { }
.modal__submit {
	display: block;
	text-align: center;
	margin: 10px;
}

.modal__btn {
	background-color: #695A59;
	color: #e5e5e5;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px 0 #343235;
	padding: 5px;
}

.modal__btn:hover {
	background-color: #e5e5e5;
	color: #343235;
}

.footer {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: #EEE9E6;
}
.footer__wrapper {
	background: url(../img/footer-bg.png);
	width: 1366px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	justify-items: center;
	padding-bottom: 50px;
}

.footer__request {
	grid-column: 1 / 2;
	width: 474px;
	padding-top: 50px;
}

.footer__headline::before {
	background: url(../img/talk.svg) no-repeat;
	width: 396px;
	height: 110px;
	top: 10px;
	left: -90px;
}

.footer__map {
	grid-column: 2 / 3;
	position: relative;
}

.footer__map::after {
	content: "";
	background: url(../img/placeholder.svg) no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 310px;
}

.footer__map-img {
	width: 474px;
	height: 734px;
}

.request__text {
	padding-bottom: 30px;
}

.request__form {}
.request__form-field {
	position: relative;
}

.request__form-field::after {
	content: "";
	background: url(../img/line-diagonal.svg) no-repeat;
	position: absolute;
	width: 20px;
	height: 10px;
	right: -20px;
	top: 53px;
}

.request__name,
.request__tel {
	width: 474px;
	background: inherit;
	border: none;
	border-bottom: 2px solid #A78587;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #F6EDE9;
	padding: 20px 0;
	margin-bottom: 20px;
}


.request__name:focus,
.request__name:active,
.request__tel:hover,
.request__tel:focus,
.request__tel:active,
.request__form-agree:active,
.request__form-agree:focus {
	opacity: 0.8;
}

.request__form-time {
	width: 178px;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #A78587;
	position: relative;
}

.request__form-time::after{
	content: "";
	background: url(../img/input-time.svg) no-repeat;
	position: absolute;
	width: 15px;
	height: 10px;
	top: 20px;
	left: 160px;
}

.request__form-select {
	background: inherit;
	color: white;
}

.request__form-personal {
	padding-top: 30px;
}

.request__form-agree {
	position: absolute;
	appearance: none;
}

.request__form-agree[type="checkbox"]{
	width: 27px;
	height: 27px;
	border: 1px solid #A78587;
	position: absolute;
}

.request__form-agree[type="checkbox"]:checked {
	background: url(../img/input-check.png) no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	border: none;
}

.request__form-text {
	padding-left: 40px;
}

.request__submit-btn {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	color: #A78587;
	background: inherit;
	display: inline-block;
	width: 474px;
	border: 0;
	border-top: 2px solid #A78587;
	border-bottom: 2px solid #A78587;
	padding: 15px 20px;
	margin-top: 50px;
}

.request__submit-btn:active,
.request__submit-btn:hover {
	color: white;
}

.visually-hidden {
	display: none;
}

.wrapper {
	width: 1366px;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px dashed red;
}
